body {
	max-width: 800px;
	margin: auto;
	font-family: sans-serif;
	font-size: 14px;
	text-align: justify;
}

h1 {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.summary {
	font-size: 0.8em;
}

.summary li {
	margin-bottom: 2px;
}

.testcase {
	margin-bottom: 30px;
}

.map {
	height: 300px;
}

.footer {
	font-size: 0.8em;
	display: flex;
}

.debug {
	flex: auto;
	text-align: left;
}

.back-top {
	flex: auto;
	text-align: right;
}

label {
	display: inline-block;
	text-align: left;
}

input[type="text"], textarea {
	width: 100%;
	display: inline-block;
}

textarea {
	min-height: 300px;
}

#step2 {
	display: none;
}

.center {
	text-align: center;
}

.error {
	font-weight: bold;
	color: red;
}

#status {
	font-weight: bold;
	color: blue;
	text-align: center;
}

#error {
	text-align: center;
}

.footnote {
	font-size: 0.8em;
	margin-top: -10px;
}